#start {
    padding: 32px 0px;
}

#start-btn-group {
    width: 50%;
    margin-left: 25%;
}

#upload-file {
    display: none;
    padding: 32px 20%;
}

#file-warning-block {
    display: none;
}

#enter-password {
    display: none;
    margin: 32px 0;
}

#create-password {
    display: none;
    padding: 0 20%;
}

#password-warning-block {
    display: none;
    color: red;
}

#password-access {
    display: none;
}

#search-bar {
    width: 60%;
    margin: 0 20%;
}

#add-service-btn {
    margin: 0 auto;
    padding: 32px 0px;
}

#add-data {
    display: none;
    width: 80%;
    margin: 32px 12% 32px 8%;
    color: grey;
    text-align: left;
}

.data-textarea-btn-group {
    position: absolute;
    right: -12%;
    top: 25%;
}

#add-data-btns {
    margin: 16px 0;
    text-align: center;
}

.add-data-btn {
    margin: 4px;
}

#add-row-btn {
    margin: 0 8px;
}

#save-to-file-btn {
    margin: 0 8px;
}

.modal {
    color: gray;
}

#search-results {
    display: none;
}

#download-file {
    display: none;
}